<ion-view view-title="服务协议">
  <ion-content>
    <p style="text-indent: 2em;">欢迎您使用暖冬天气数据服务。如果您使用我们的服务，则表示您同意并遵守《暖冬天气服务协议》</p>
    <p>1. 用户的权利和义务</p>
    <p>1.1 用户有权随时使用或不使用暖冬天气的服务</p>
    <p>1.2 用户有义务保管自己的账户信息和安全性</p>
    <p>2. 使用限制</p>
    <p>2.1 用户不能使用我们的服务用于任何违反中国法律和法规的行为</p>
    <p>2.2 用户不能使用任何方式方法干扰我们提供的服务</p>
    <p>2.3 用户不能使用任何方式方法攻击我们的网络和服务器，包括软件和硬件</p>
    <p>3. 暖冬天气的权利和义务</p>
    <p style="text-indent: 2em;">暖冬天气在中国法律和本协议范围内为用户提供最大限度的在线服务：</p>
    <p>3.1 为用户提供稳定优质的气象数据服务</p>
    <p>3.2 变更服务服务内容，并对用户进行提前告知</p>
    <p>3.3 在网站或服务内容中推送广告</p>
    <p>4. 隐私政策</p>
    <p style="text-indent: 2em;">暖冬天气非常注重用户信息的保护：</p>
    <p>4.1 我们会匿名收集的用户信息，并进行加密保护：</p>
    <p>4.1.1 日志信息，包括使用流量、时间等</p>
    <p>4.1.2 设备信息，包括访问设备的IP、型号等</p>
    <p>4.2 我们收集的用户信息会使用在：</p>
    <p>4.2.1 暖冬天气的数据统计</p>
    <p>.2.2 暖冬天气的业务分析</p>
    <p>4.3 暖冬天气可能会与公众分享统计信息，以展示我们服务的整体使用趋势。这些统计信息不包含您的任何身份识别信息</p>
    <p>4.4 用户的所有个人信息都不会被透露给任何第三方，除非：a.获得您的授权；b.根据法律、法规、法律程序的要求或政府主管部门的强制性要求。</p>
    <p>5. 免责</p>
    <p>5.1 因不可抗力造成和风天气无法正常提供服务的，我们不承担任何责任，但有义务尽最大限度恢复服务</p>
    <p>5.2 暖冬天气不对以下事件承担法律责任或经济赔偿：</p>
    <p>5.2.1 违反本服务协议而中止的服务</p>
    <p>5.2.2 使用暖冬天气数据服务而造成的任何损失</p>
    <p>6. 知识产权保护</p>
    <p style="text-indent: 2em;">暖冬天气所展示的内容、使用的技术、发布的服务，均归属于aaron所有</p>
  </ion-content>
</ion-view>
